/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
body,
main {
  width: 100%;
  height: 1000px;
}

#testoAlternato {
  width: 350px;
  position: relative;
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 200px;
  padding: 10px;
}
.p1 {
  animation: myAnimation 9s linear infinite;
  position: absolute;
  left: 185px;
  top: -1000px;
  color: rgb(94, 94, 246);
  opacity: 0;
}
.p2 {
  animation: myAnimation2 9s linear infinite;

  position: absolute;
  left: 185px;
  top: -1000px;
  color: rgb(94, 94, 246);
  opacity: 0;
}
.p3 {
  animation: myAnimation3 9s linear infinite;

  position: absolute;
  left: 185px;
  top: -1000px;
  color: rgb(94, 94, 246);
  opacity: 0;
}
@keyframes myAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 1037px);
  }
  11% {
    opacity: 1;
    transform: translate(0, 1041px);
  }
  22% {
    opacity: 1;
    transform: translate(0, 1041px);
  }
  33% {
    transform: translate(0, 1045px);
    opacity: 0;
  }
}
@keyframes myAnimation2 {
  33% {
    opacity: 0;
    transform: translate(0, 1037px);
  }
  44% {
    opacity: 1;
    transform: translate(0, 1041px);
  }
  55% {
    opacity: 1;
    transform: translate(0, 1041px);
  }
  66% {
    transform: translate(0, 1045px);
    opacity: 0;
  }
}
@keyframes myAnimation3 {
  66% {
    opacity: 0;
    transform: translate(0, 1037px);
  }
  77% {
    opacity: 1;
    transform: translate(0, 1041px);
  }
  88% {
    opacity: 1;
    transform: translate(0, 1041px);
  }
  99% {
    transform: translate(0, 1045px);
    opacity: 0;
  }
}
